/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    background-color: rgba(187, 187, 187, 0.836);
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    color:whitesmoke
}
header{
    background-color:rgb(52, 49, 50);
    padding: 5px;
    text-align: center;
}
header nav  div .lobo{
    width: 100px;
    height: auto;
}
header nav .collapse ul li{
    background-color:rgb(124, 51, 106);
    border-radius: 2.5%;
    padding: 0.1rem;
    margin: 0.2rem;
    font-size: 1rem;
}
header nav .collapse ul li .nav-link{
    font-size: 1.3rem;
    color:whitesmoke;
}

h1{
    background-color: #343132;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1.5rem;
}
h2{
    background-color: #343132;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

p{
    background-color: #343132;
    text-align: center;
    padding: 1rem; 
    margin-top: 0.5rem;
}
li{
    list-style: none;
}
.div-img{
    display: grid;
   justify-content: center;
   margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
img{
    width: 70%;
}
footer .div-pie{
    background-color: #343132;
    padding: 0.5rem;
}


/* estilos de productos */

.contenedor{
    display: grid;
    justify-content: center;
    grid-template-columns:1, 25%;
    grid-template-rows: 4, 30%;
    grid-template-columns:70%;
}

main div img{
    width: 100%;
    height: auto;
    padding: 1rem;
}
.hijos{
    background-color: #343132;
    margin: 1rem;
    border-radius: 2.5%;
}
.ul-li li{
    display: grid;
    justify-content: center;
}


/* estilo de nosotros */

.main-nosotros .h1-nosotros{
    background-color: #343132;
    text-align: center;
   padding: 0.5rem;
    margin-top: 1.5rem;
}
main .div-video {
    display: flex;
    justify-content: center;
   margin:1.5rem;
}

/* estilo de contacto */

.div-mapa{
    display: flex;
    justify-content: center;
   margin:1.5rem;
}
main div .ul-dias{
    background-color: #343132;
   padding: 0.2rem;
   width: 100%;

}
main div .ul-dias li{
    display: flex;
    justify-content: center;
   padding: 0.2rem;
   margin: 0.5rem;
   width: 100%;

}

/* estilos desktop */

@media screen and (min-width:1024px){
    header nav .collapse ul li{
        display: grid;
        justify-content: center;
        background-color:#343132;
        padding: 0.1rem;
        margin: 0.2rem;
        font-size: 1rem;
    }
    header nav .collapse ul li .nav-link{
        font-size: 1.3rem;
        color:whitesmoke;
    }
    /* productos */
    .contenedor{
        display: grid;
        justify-content: center;
        grid-template-columns:repeat(4, 1fr);
    
        padding: 1rem;
        margin: 5rem;
    }
}
